<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930871121577-do980u7lea41ssj0m2lcl8k8s2ts3nog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930871121577-do980u7lea41ssj0m2lcl8k8s2ts3nog</string>
	<key>API_KEY</key>
	<string>AIzaSyBeyATAmddj_EmpP1V6qvpp8CdXVZSpZSg</string>
	<key>GCM_SENDER_ID</key>
	<string>930871121577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.levinriegner.fluttertemplate.qa</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-lr</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-lr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930871121577:ios:9a43ab611ded2a26b3fbb8</string>
</dict>
</plist>